{% load static %}
    <header>
        <nav>
            <section class="container nav">
                <div class="logo">
                    <img src="{% static 'img/Logo-Aurora.png' %}" alt="soy un logo">
                </div>
                <div class="enlaces-header">
                    <a href="{%url 'listado_registro'%}">Inicio</a>


                </div>
                <div class="boton-menu">
                    <img src="img/bx-menu.svg" alt="">
                </div>
            </section>
        </nav>
    </header>